.form {
}

.formcontrol {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitBtn {
  margin-top: 15px;
  background-color: #3751ff;
  color: white;
  padding: 20px 100px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border: none;
}
